/* 
	author: istockphp.com
*/
#backgroundPopup { 
	z-index:1;
	position: fixed;
	display:none;
	height:100%;
	width:100%;
	background:#000000;	
	top:0px;  
	left:0px;
}
#toPopup {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #ccc;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: none;
	font-size: 14px;
    left: 50%;
    margin-left: -402px;
    position: fixed;
    width: 520px;
    top:40px;
    z-index: 11;
}
div.loader {
    background: url("../img/loading.gif") no-repeat scroll 0 0 transparent;
    height: 32px;
    width: 32px;
	display: none;
	z-index: 9999;
	top: 40%;
	left: 50%;
	position: absolute;
	margin-left: -10px;
}
div.close {
    background: url("../img/closebox.png") no-repeat scroll 0 0 transparent;
    bottom: 24px;
    cursor: pointer;
    float: right;
    height: 30px;
    left: 27px;
    position: relative;
    width: 30px;
}
span.ecs_tooltip {
    background: none repeat scroll 0 0 #000000;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    display: none;
    font-size: 11px;
    height: 16px;
    opacity: 0.7;
    padding: 4px 3px 2px 5px;
    position: absolute;
    right: -62px;
    text-align: center;
    top: -51px;
    width: 93px;
}
span.arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000000;
    display: block;
    height: 1px;
    left: 40px;
    position: relative;
    top: 3px;
    width: 1px;
}
div#popup_content {
    margin: 4px 7px;
}


.creativesmiley1{ background:url(../images/photo.png) no-repeat; width:72px; height:52px;vertical-align: middle;margin-right:280px;  float:right;}
.creativesmiley2{ background:url(../images/paint.png) no-repeat; width:135px; height:80px;vertical-align: middle;margin-left:880px; } 
.creativesmiley3{ background:url(../images/photo.png) no-repeat; width:72px; height:52px;vertical-align: middle;margin-right:400px;margin-top:10px;  float:right;}
 .creativesmiley4{ background:url(../images/paint.png) no-repeat; width:135px; height:80px;vertical-align: middle;margin-left:320px;margin-top:0px;}  


/* .myButton {
	background-color:#00B2EE;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #00B2EE;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:24px;
	padding:12px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #00B2EE;
	margin-left:25px;
	
	
} */

.myButton {
	background-color:#00B2EE;
	border:1px solid #00B2EE;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:24px;
	  padding: 4px 3px 2px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #00B2EE;
	margin-left:25px;
	
	
}

.myButton:hover {
	background-color:#00FF00;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton1 {
	background-color:#FF4500;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #FF4500;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:24px;
	padding:12px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #FF4500;
	margin-left:95px;
	
	
}
.myButton1:hover {
	background-color:#00FF00;
}
.myButton1:active {
	position:relative;
	top:1px;
}

.mypara {
	color:#FF4500;
	font-family:arial;
	font-size:22px;
	
	padding:8px 15px;
	text-decoration:none;
	
	text-align:center;
}

.mypara2 {
	color:#000000;
	font-family:arial;
	font-size:17px;
	line-height:110%;
	padding:4px 10px;
	text-decoration:none;
	text-align:center;
}
.mypara3 {
	color:#FFFFFF;
	font-family:arial;
	font-size:20px;
	line-height:120%;
	padding:4px 10px;
	text-decoration:none;
	text-align:center;
}

.mypara4 {
	color:#FF4500;
	font-family:arial;
	font-size:20px;
	line-height:120%;
	padding:4px 10px;
	text-decoration:none;
	text-align:center;
}

.hidden {
    display:none;
}
.button {
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
    background: #777;
    color: #fff;
    width:75px;
}

.button:hover {
    background: #333;
    cursor: pointer;
}






